// Footer
.footer-clean
  footer
    .container
      .row(style='flex-wrap: wrap; ')
        .col-sm-12.col-md-2.col-lg-2.item
          object.img-fluid(type='image/svg+xml' data='assets/img/Blueprintlogo.svg')
        .pl-5.pr-5.pt-2
          h3.footer-text.footer-header
            a(href='index.html') Home
          ul
            li.footer-text.footer-option
              a(href='index.html#section-about')
                | About Us
                br
            li.footer-text.footer-option
              a(href='index.html#section-get')
                | Get Involved
                br
            li.footer-text.footer-option
              a(href='index.html#section-contact')
                | Contact
                br
        .pl-5.pr-5.pt-2
          h3.footer-text.footer-header
            a(href='about.html') About
          ul
            li.footer-text.footer-option
              a(href='about.html#section-mission')
                | Mission
                br
            li.footer-text.footer-option
              a(href='about.html#section-value')
                | Values
                br
            li.footer-text.footer-option
              a(href='about.html#section-team')
                | The Team
                br
            li.footer-text.footer-option
              a(href='about.html#section-chapter')
                | Chapters
                br
        .pl-5.pr-5.pt-2
          h3.footer-text.footer-header
            a(href='projects.html') Projects
            br
          ul
            li.footer-text.footer-option
              a(href='projects.html')
                | Current
                br
            li.footer-text.footer-option
              a(href='projects.html')
                | Past
                br
            li.footer-text.footer-option
              a.unavailable(href='#' onclick='return false;')
                | Archive
                br
            li.footer-text.footer-option
              a.unavailable(href='#' onclick='return false;')
                | FAQ
                br
        .pl-5.pr-5.pt-2
          h3.footer-text.footer-header
            a(href='apply.html') Apply
            br
          ul
            li.footer-text.footer-option
              a.unavailable(href='#' onclick='return false;')
                | Non Profits
                br
            li.footer-text.footer-option
              a.unavailable(href='forstudent.html')
                | Students
                br
            li.footer-text.footer-option
              a.unavailable(href='apply.html#section-apply' onclick='return false;')
                | FAQ
                br
        .pl-5.pr-5.pt-2
          h3.footer-text.footer-header
            a Social
            br
          ul
            li.footer-text.footer-option
              a(href='https://www.facebook.com/cublueprint/')
                | Facebook
                br
            li.footer-text.footer-option
              a(href='https://twitter.com/cublueprint')
                | Twitter
                br
            li.footer-text.footer-option
              a(href='https://www.linkedin.com/company/cublueprint/')
                | LinkedIn
                br