extends layouts/main
block nav
    - var cur = "apply"
block content
    section#section-apply.py-5
        .container.text-center
            .row.pt-4
                .col-sm-12.col-md-6.col-lg-6
                    img.img-fluid.d-block.m-auto(src='assets/img/ApplyNPO.png')
                    h2
                        | Apply to Exec team
                        br
                    p(style='min-height: 5em; max-width: 400px; margin:auto;')
                        | Join Blueprint to give back to the
                        | community by helping run club operations.
                        br
                    a.btn.btn-outline-primary.rounded-0.blueprint-button(role='button' href='https://docs.google.com/forms/d/e/1FAIpQLSeZRTtrwu3bHTUsR4icHK6u86luHL1h93rIXSlawINlwm0VNw/viewform', onclick="window.open(this.href,'_blank');return false;") APPLY HERE
                    br
                    br
                    p(style='min-height: 3em; max-width: 400px; margin:auto;')
                        | #[strong Exec Positions Open]
                        br
                        | VP Design
                        br
                        | VP Events
                        br
                        | Digital Communications Coordinator
                        br
                        | Graphic Designer
                        br
                        br
                        | #[strong Internal Web Dev Team Positions Open]
                        br
                        | Project Lead
                        br
                        | Web Developer (React)
                        br
                        br
                .col-sm-12.col-md-6.col-lg-6
                    img.img-fluid.d-block.m-auto(src='assets/img/ApplyStudents.png')
                    h2
                        | Apply to Project Team
                        br
                    p(style='min-height: 5em; max-width: 400px; margin:auto;')
                        | Join Blueprint to give back to the
                        | community working with the project team 
                        br
                        br
                    a.btn.btn-outline-primary.rounded-0.disabled.blueprint-button(role='button' href='forstudent.html') COMING SOON!
