extends layouts/main
block nav
    - var cur = "apply"
block content
    section#section-apply.py-5
        .container.text-center
            .row.pt-4
                .col-sm-12.col-md-6.col-lg-6
                    img.img-fluid.d-block.m-auto(src='assets/img/ApplyNPO.png')
                    h3
                        | For Nonprofits
                        br
                    p(style='min-height: 5em; max-width: 400px; margin:auto;')
                        | Partner with Blueprint to build the
                        | application your organization needs.
                        br
                    a.btn.btn-outline-primary.rounded-0.disabled.blueprint-button(role='button' href='fornonprofit.html') COMING SOON
                .col-sm-12.col-md-6.col-lg-6
                    img.img-fluid.d-block.m-auto(src='assets/img/ApplyStudents.png')
                    h3
                        | For Students
                        br
                    p(style='min-height: 5em; max-width: 400px; margin:auto;')
                        | Joining Blueprint is the perfect way
                        | to use your skills to give back to the community.
                        br
                    a.btn.btn-outline-primary.rounded-0.disabled.blueprint-button(role='button' href='forstudent.html') COMING SOON
