extends layouts/main
block nav
    -var cur = "apply"
block content
    section.banner-student(style='background-image: url("assets/img/StudentsBanner.png");')
    .container
        .row
        .col-md-6.col-lg-6.offset-6
            h1.text-white
            | For Students
            br
            p.text-white.pt-2
            | The projects at Blueprint are made possible because of motivated and
            | driven students!
            br
            p.text-white
            | We are always looking for more people to join our team in areas such as
            | development, design, marketing, and business.
            br
    nav.navbar.navbar-light.navbar-expand.nav-mid
    .container-fluid
        .navbar-collapse.justify-content-center
        ul.nav.navbar-nav
            li.nav-item.footer-text.footer-header(role='presentation')
            a.nav-link.active(href='#')
                | What we look
                | for
            li.nav-item.footer-text.footer-header(role='presentation')
            a.nav-link(href='#section-process')
                | Application
                | Process
            li.nav-item.footer-text.footer-header(role='presentation')
            a.nav-link(href='#section-decision')
                | Decision
                | Criteria
            li.nav-item.footer-text.footer-header(role='presentation')
            a.nav-link(href='#') FAQs
    section.section-ser
    .container
        .underline-container
        h2 You are
        .underline
        .w-50.m-auto
        .media.align-items-center.mb-4
            img.img-fluid.mr-3(src='assets/img/student-place.png' width='20%')
            .media-body
            h3 Motivated
        .media.align-items-center.mb-4
            img.img-fluid.mr-3(src='assets/img/student-place.png' width='20%')
            .media-body
            h3 Self Driven
        .media.align-items-center.mb-4
            img.img-fluid.mr-3(src='assets/img/student-place.png' width='20%')
            .media-body
            h3 Looking to help for social good
    section#section-process
    .container
        .underline-container
        h2 The application process
        .underline
        .w-50.m-auto.pt-5
        .media.align-items-center.mb-4
            img.mr-3.img-fluid(src='assets/img/dot.png')
            .media-body
            h3 1. Apply
            p.body-2.light-grey Your application is received by our team and reviewed 
        .media.align-items-center.mb-4
            img.mr-3.img-fluid(src='assets/img/dot.png')
            .media-body
            h3 2. Phone screen interviews
            p.body-2.light-grey Your application is received by our team and reviewed 
        .media.align-items-center.mb-4
            img.mr-3.img-fluid(src='assets/img/dot.png')
            .media-body
            h3 3. Final decision
            p.body-2.light-grey Your application is received by our team and reviewed 
    section#section-decision.py-5.mb-4
    .container.text-center
        .underline-container
        h2 Decision Criteria
        .underline
        .row.pt-4
        .col-sm-12.col-md-4.col-lg-4
            img.img-fluid(src='assets/img/ApplyStudentsPassion.png')
            h3
            | Passion
            br
            p
            | Do you demonstrate a genuine passion for social good?
            br
        .col-sm-12.col-md-4.col-lg-4
            img.img-fluid(src='assets/img/ApplyStudentsGrowth.png')
            h3
            | Growth
            br
            p
            | Do you push yourself to grow in any setting? Do you seek out new ways to grow?
            br
        .col-sm-12.col-md-4.col-lg-4
            img.img-fluid(src='assets/img/ApplyStudentsResourceful.png')
            h3
            | Resourceful
            br
            p
            | Do you adapt and explore in order to overcome difficulties?
            br
        .row.pt-5
        .col-sm-12.col-md-4.col-lg-4
            img.img-fluid(src='assets/img/ApplyStudentsAttitude.png')
            h3
            | Attitude
            br
            p
            | Do you demonstrate positive, hard-working attitude?
            br
        .col-sm-12.col-md-4.col-lg-4
            img.img-fluid(src='assets/img/ApplyStudentsTeamwork.png')
            h3
            | Teamwork
            br
            p
            | Do you display the ability to work well in a team?
            br
        .col-sm-12.col-md-4.col-lg-4
            img.img-fluid(src='assets/img/ApplyStudentsCulture.png')
            h3
            | Culture
            br
            p
            | Do you value empowering non-profits to achieve their missions through tech?
            br
